<a href="https://colab.research.google.com/github/lynnseygraham/cs_assignment1/blob/master/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [66]:
def lgn_mr(n):
  #Check if n is an even number but != 2(prime)
  if n % 2 == 0:
    if n == 2:
      return "prime"
    else:
      return "composite"
  
  #Find n-1 = 2^k * q
  #Find k and q

  k = 1
  q = 0.0
  while q.is_integer():
    k += 1
    print(q.is_integer())
    print('k: ',k,' q: ',q,' n-1: ',n-1,' 2**k: ',2**k,' = ',n-1/2**k)
    q = (n-1)/(2**k)


  #print('k, q', k, q)
  #Choose a ( 1 < a < n-1 )
  a = random.

  #

In [67]:
lgn_mr(53)

True
k:  2  q:  0.0  n-1:  52  2**k:  4  =  52.75
True
k:  3  q:  13.0  n-1:  52  2**k:  8  =  52.875

In [33]:
x = (53-1)/(2**3)
print(x)

6.5